<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/MainlyLayout'">

<body>
	<section layout:fragment="content">
		<div class="container-fluid">
			<br />
			<form class="form-horizontal" method="POST" th:object="${visitantes}"
				th:action="@{/visitantes/novo}">

				<div style="margin-top: 50px;">

					<div id="foo" th:fragment="mensagemGeral" class="alert alert-success"
						th:if="${!#strings.isEmpty(message)}">
						<span th:text="${message}"></span>
					</div>

					<div id="foo" th:fragment="mensagemErro" class="alert alert-danger"
						th:if="${!#strings.isEmpty(messageErro)}">
						<span th:text="${messageErro}"></span>
					</div>

					<div id="foo" class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
						<div th:each="detailedError : ${#fields.detailedErrors()}">
							<span th:text="${detailedError.message}"></span>
						</div>
					</div>
					<div class="x_panel">
						<input type="hidden" th:field="*{idVisitante}" />
						<div>
							<h2 style="float: left;" th:text="${title}"></h2>
							<a style="float: right;" class="btn btn-dark aw-link-panel"
								th:href="@{/visitantes}"><i class="fa  fa-fw  fa-table"></i>&nbsp;
								&nbsp;Listar Visitantes </a>
							<div class="clearfix"></div>
						</div>
						<div>

							<form class="form-horizontal form-label-left input_mask">

								<h5>Dados Pessoais</h5>
								<div class="x_panel">
									<input type="hidden" th:field="*{idVisitante}" />
									<div
										class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback"
										th:classappend="${#fields.hasErrors('nome')} ? has-error">
										<label for="nome" class="required">Nome</label> <input type="text"
											class="form-control has-feedback-left" th:field="*{nome}"
											id="nome" placeholder="Nome Completo" /> <span
											class="fa fa-user form-control-feedback left"
											aria-hidden="true"></span>
									</div>

									<div
										class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback"
										th:classappend="${#fields.hasErrors('sexo')} ? has-error">
										<label for="sexo" class="required">Sexo</label> <select id="sexo"
											class="form-control has-feedback-left" th:field="*{sexo}">
											<option value="">Selecione</option>
											<option th:each="sexo: ${sexos}" th:value="${sexo}"
												th:text="${sexo}">Opção 1</option>
										</select> <span class="fa fa-venus-mars form-control-feedback left"
											aria-hidden="true"></span>
									</div>
									<div
										class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback"
										th:classappend="${#fields.hasErrors('dtNasc')} ? has-error">
										<label for="dtNasc" class="required">Data Nascimento</label> <input type="text"
											class="form-control has-feedback-left date" th:field="*{dtNasc}"
											id="dtNasc" placeholder="Data Nascimento" /> <span
											class="fa fa-calendar form-control-feedback left"
											aria-hidden="true"></span>
									</div>
								</div>

								<h5>Contato</h5>
								<div class="x_panel">
									<div
										class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback"
										th:classappend="${#fields.hasErrors('celular')} ? has-error">
										<label for="celular" class="required">Celular</label> <input type="text"
											class="form-control has-feedback-left phone" th:field="*{celular}"
											id="celular" placeholder="Celular" /> <span
											class="fa fa-mobile form-control-feedback left"
											aria-hidden="true"></span>
									</div>

									<div
										class="col-md-2 col-sm-6 col-xs-12 form-group has-feedback">
										<label for="whatsaap">Whatsaap</label> <select id="whatsaap"
											class="form-control has-feedback-left" th:field="*{whatsaap}">
											<option value="">Opc</option>
											<option th:each="whatsaap: ${opcao}" th:value="${whatsaap}"
												th:text="${whatsaap}">Opção 1</option>
										</select> <span class="fa fa-whatsapp form-control-feedback left"
											aria-hidden="true"></span>
									</div>
									<div
										class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback"
										th:classappend="${#fields.hasErrors('fixo')} ? has-error">
										<label for="fixo">Fixo</label> <input type="text"
											class="form-control has-feedback-left fixo" th:field="*{fixo}"
											id="fixo" placeholder="Fixo" /> <span
											class="fa fa-phone form-control-feedback left"
											aria-hidden="true"></span>
									</div>

									<div
										class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback"
										th:classappend="${#fields.hasErrors('email')} ? has-error">
										<label for="email">Email</label> <input type="text"
											class="form-control has-feedback-left" th:field="*{email}"
											id="email" placeholder="Email" /> <span
											class="fa fa-at form-control-feedback left"
											aria-hidden="true"></span>
									</div>
								</div>
								<h5>Endereço</h5>
								<div class="x_panel">
									<div
										class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback"
										th:classappend="${#fields.hasErrors('cep')} ? has-error">
										<label for="cep">CEP</label> <input type="text"
											class="form-control has-feedback-left cep" th:field="*{cep}"
											name="cep" id="cep" placeholder="Cep" /> <span
											class="fa fa-calendar form-control-feedback left"
											aria-hidden="true"></span>
									</div>

									<div
										class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback"
										th:classappend="${#fields.hasErrors('rua')} ? has-error">
										<label for="rua">Rua</label> <input type="text"
											class="form-control has-feedback-left" th:field="*{rua}"
											name="rua" id="rua" placeholder="Rua" /> <span
											class="fa fa-road form-control-feedback left"
											aria-hidden="true"></span>
									</div>
									<div
										class="col-md-2 col-sm-6 col-xs-12 form-group has-feedback"
										th:classappend="${#fields.hasErrors('numero')} ? has-error">
										<label for="numero">Número</label> <input type="text"
											class="form-control has-feedback-left" th:field="*{numero}"
											id="numero" placeholder="Número" /> <span
											class="fa fa-sort-numeric-asc form-control-feedback left"
											aria-hidden="true"></span>
									</div>

									<div
										class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback"
										th:classappend="${#fields.hasErrors('complemento')} ? has-error">
										<label for="complemento">Complemento</label> <input type="text"
											class="form-control has-feedback-left" th:field="*{complemento}"
											id="complemento" placeholder="Complemento" /> <span
											class="fa fa-location-arrow form-control-feedback left"
											aria-hidden="true"></span>
									</div>
									
									<div
										class="col-md-5 col-sm-6 col-xs-12 form-group has-feedback"
										th:classappend="${#fields.hasErrors('bairro')} ? has-error">
										<label for="bairro">Bairro</label> <input type="text"
											class="form-control has-feedback-left" th:field="*{bairro}"
											name="bairro" id="bairro" placeholder="Bairro" /> <span
											class="fa fa-bold form-control-feedback left"
											aria-hidden="true"></span>
									</div>
									
									<div
										class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback"
										th:classappend="${#fields.hasErrors('cidade')} ? has-error">
										<label for="cidade">Cidade</label> <input type="text"
											class="form-control has-feedback-left" th:field="*{cidade}"
											name="cidade" id="cidade" placeholder="Cidade" /> <span
											class="fa fa-map-signs form-control-feedback left"
											aria-hidden="true"></span>
									</div>
									
									<div
										class="col-md-3 col-sm-6 col-xs-12 form-group has-feedback"
										th:classappend="${#fields.hasErrors('uf')} ? has-error">
										<label for="uf">Estado</label> <input type="text"
											class="form-control has-feedback-left" th:field="*{uf}"
											name="uf" id="uf" placeholder="Estado" /> <span
											class="fa fa-globe form-control-feedback left"
											aria-hidden="true"></span>
									</div>
								</div>
								<h5>Dados Ministériais</h5>
								<div class="x_panel">
								
								<div
										class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback"
										th:classappend="${#fields.hasErrors('dtNasc')} ? has-error">
										<label for="dtNasc" class="required">Visita à Igreja</label> <input type="date"
											class="form-control has-feedback-left" th:field="*{dtNasc}"
											id="dtNasc" placeholder="Visita Igreja" /> <span
											class="fa fa-calendar form-control-feedback left"
											aria-hidden="true"></span>
									</div>
									<div
										class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback"
										th:classappend="${#fields.hasErrors('templo')} ? has-error">
										<label for="templo" class="required">Templo</label> <select id="templo"
											class="form-control has-feedback-left" th:field="*{templo}">
											<option value="">Selecione</option>
											<option th:each="templo: ${templos}" th:value="${templo.idTemplo}"
												th:text="${templo.nomeFantasia}">Opção 1</option>
										</select> <span class="fa fa-university form-control-feedback left"
											aria-hidden="true"></span>
									</div>
									
											<div
										class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback"
										th:classappend="${#fields.hasErrors('convidou')} ? has-error">
										<label for="convidou" class="required">Quem Convidou ?</label> <select id="convidou"
											class="form-control has-feedback-left" th:field="*{convidou}">
											<option value="">Selecione</option>
											<option th:each="convidou: ${membros}" th:value="${convidou.idMembro}"
												th:text="${convidou.nome}">Opção 1</option>

										</select> <span class="fa fa-question-circle-o form-control-feedback left"
											aria-hidden="true"></span>
									</div>
									
									<div
										class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
										<label for="parente">Parente ?</label> <select id="parente"
											class="form-control has-feedback-left" th:field="*{parente}">
											<option value="">Opc</option>
											<option th:each="parente: ${opcao}" th:value="${parente}"
												th:text="${parente}">Opção 1</option>
										</select> <span class="fa fa-users form-control-feedback left"
											aria-hidden="true"></span>

									</div>
									<div
										class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback"
										th:classappend="${#fields.hasErrors('parentesco')} ? has-error">
										<label for="parentesco">Qual Parentesco?</label> <input type="text"
											class="form-control has-feedback-left" th:field="*{parentesco}"
											name="parentesco" id="parentesco" placeholder="Parentesco" /> <span
											class="fa fa-question form-control-feedback left"
											aria-hidden="true"></span>
									</div>
									<div
										class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback">
										<label for="quem">Quem ?</label> <select id="quem"
											class="form-control has-feedback-left" th:field="*{quem}">
											<option value="">Selecione</option>
											<option th:each="quem: ${membros}" th:value="${quem.idMembro}"
												th:text="${quem.nome}">Opção 1</option>
												</select> <span class="fa fa-question-circle form-control-feedback left"
											aria-hidden="true"></span>
									</div>
									<div
										class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback"
										th:classappend="${#fields.hasErrors('visitado')} ? has-error">
										<label for="visitado" class="required">Visitado ?</label> <select id="visitado"
											class="form-control has-feedback-left" th:field="*{visitado}">
											<option value="">Opc</option>
											<option th:each="visitado: ${opcao}" th:value="${visitado}"
												th:text="${visitado}">Opção 1</option>
										</select> <span class="fa fa-home form-control-feedback left"
											aria-hidden="true"></span>

									</div>
									
									<div
										class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback"
										th:classappend="${#fields.hasErrors('dtNasc')} ? has-error">
										<label for="dtNasc" class="required">Visita ao Lar</label> <input type="date"
											class="form-control has-feedback-left" th:field="*{dtNasc}"
											id="dtNasc" placeholder="Visita Lar" /> <span
											class="fa fa-calendar form-control-feedback left"
											aria-hidden="true"></span>
									</div>
									<div
										class="col-md-4 col-sm-6 col-xs-12 form-group has-feedback"
										th:classappend="${#fields.hasErrors('religiao')} ? has-error">
										<label for="religiao" class="required">Religião</label> <select id="religiao"
											class="form-control has-feedback-left" th:field="*{religiao}">
											<option value="">Religião</option>
											<option th:each="religiao: ${religioes}" th:value="${religiao}"
												th:text="${religiao}">Opção 1</option>
										</select> <span class="fa fa-heart form-control-feedback left"
											aria-hidden="true"></span>

									</div>
									
									<div
										class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
										<label for="observacao">Observação</label> <textarea 
											class="form-control has-feedback-left" th:field="*{parentesco}"
											name="observacao" id="observacao"> </textarea>
									</div>

								</div>
								<div class="form-group">

									<div id="botao">
										<a class="btn btn-info" th:href="@{/visitantes}">Cancelar</a>
										<button class="btn btn-primary" type="reset">Limpar</button>
										<button type="submit" class="btn btn-success" th:text="${btn}"></button>

									</div>
								</div>

							</form>
						</div>
					</div>
				</div>

			</form>

		</div>

	</section>
</body>

</html>
