<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/MainlyLayout'">

<head>
<title>Blank page</title>

</head>

<body>

	<section layout:fragment="content">
		<div class="container-fluid">
			<div style="margin-top: 60px;">
				<div class="x_panel">

					<div class="x_title">
						<h2 style="float: left;">Lista de Templos</h2>
						<a style="float: right;" class="btn btn-dark aw-link-panel"
							th:href="@{/templos/novo}"><i class="fa fa-plus-square"></i>&nbsp;
							&nbsp;Cadastrar Templo </a>
						<div class="clearfix"></div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						
						<div class="x_panel">
							<div id="foo" class="alert  alert-success"
								th:if="${!#strings.isEmpty(message)}">
								<i class="fa fa-check-circle"></i> <span th:text="${message}">Mensagem
									sucesso!</span>
							</div>
							
							<div id="foo" class="alert  alert-danger"
								th:if="${!#strings.isEmpty(messageErro)}">
								<i class="fa fa-check-circle"></i> <span th:text="${messageErro}">Mensagem
									Erro!</span>
							</div>
						

							<div class="x_content">
								<div class="card-box table-responsive">
									 <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
									<thead>
										<tr>
											<th>Código</th>
											<th>Nome</th>
											<th>CNPJ</th>
											<th>Pr Titular</th>
											<th>Celular</th>
											<th>Status</th>
											<th>-</th>
											<th>-</th>
										</tr>
									</thead>

									<tbody>
										<tr th:each="templo: ${templos}">
											<td th:text="${templo.idTemplo}">1</td>
											<td th:text="${templo.nomeFantasia}">1</td>
											<td th:text="${templo.cnpj}">1</td>
											<td th:text="${templo.idTemplo}">1</td>
											<td td th:text="${templo.idTemplo}">1</td>
											<td th:text="${templo.tipo}">1</td>
											<td><a class="btn btn-info btn-xs"
												th:href="@{/templos/{idTemplo}(idTemplo=${templo.idTemplo})}"> <span
													class="fa fa-pencil" />
											</a></td>
											<td>
												<form method="POST"
													th:onsubmit="'return confirm(\'Remover ' + 
													${templo.nomeFantasia} +' ?\');'"
													th:action="@{/templos/{idTemplo}(idTemplo=${templo.idTemplo})}">
													<input type="hidden" name="_method" value="DELETE" />

													<button type="submit" class="btn btn-danger btn-xs">
														<span class="fa fa-trash"></span>
													</button>
												</form>
											</td>
										</tr>

									</tbody>
								</table>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<th:block layout:fragment="javascript-extra">

	</th:block>

	<script type="text/javascript">
		$(document).ready(function() {
			$('#datatable').DataTable();
		});
	</script>


</body>

</html>
