<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/MainlyLayout'">

<body>
	<section layout:fragment="content">
		<div th:each="lider : ${modulos}" class="container-fluid">
			<br />
			<br />
<div class="x_panel ">
				<div>
					<h2 style="float: left;">Adicionar Alunos</h2>
					<a style="float: right;" class="btn btn-dark aw-link-panel"
						th:href="@{/capacitacaoDestino}"> <i
						class="fa  fa-fw  fa-table"></i>&nbsp; &nbsp;Listar Turmas
					</a> 
					<a style="float: right;" class="btn btn-dark aw-link-panel" th:href="@{/capacitacaoDestino/modulo/{id}(id=${lider.destino.idCD})}"
						> <i
						class="fa  fa-fw  fa-table"></i>&nbsp; &nbsp;Listar Modulos
					</a>
					<a style="float: right;" th:href="@{/capacitacaoDestino/modulo/aula/{id}(id=${lider.idModulo})}"
						class="btn btn-dark aw-link-panel"> <i
						class="fa  fa-fw  fa-plus-square"></i>&nbsp; &nbsp;Adicionar Aula
					</a>
					 
					<div class="clearfix"></div>
				</div>				
						<div class="col-md-4 col-sm-6 col-xs-12 ">
						<div class="x_panel">
						
						<div class="container">
						
							<div  class="col-md-4 col-sm-6 col-xs-12">
								<img th:src="${lider.modulo.img}"></img>
							</div>
							
							<div class="col-md-8 col-sm-6 col-xs-12">
								<h5>
									Descrição: <span class="stile" th:text="${lider.modulo.descricaoMod}"/></br> 
									Inicio: <span class="stile" th:text="${lider.dtInicio}"/> </br> 
									Termino:<span class="stile" th:text="${lider.dtTermino}"/>
								</h5>
							</div>
						</div>
						</div>
					</div>
				<div class="col-md-8 col-sm-6 col-xs-12 ">
				<div class="x_panel">
					<form class="form-horizontal" method="POST"
						th:object="${addAlunoCD}" th:action="@{/capacitacaoDestino/modulo/aluno/{id}(id=${idModulo})}">
						<div style="margin-top: 25px;">

							<div id="foo" th:fragment="mensagemGeral"
								class="alert alert-success"
								th:if="${!#strings.isEmpty(message)}">
								<span th:text="${message}"></span>
							</div>

							<div id="foo" th:fragment="mensagemErro"
								class="alert alert-danger"
								th:if="${!#strings.isEmpty(messageErro)}">
								<span th:text="${messageErro}"></span>
							</div>

							<div id="foo" class="alert alert-danger"
								th:if="${#fields.hasAnyErrors()}">
								<div th:each="detailedError : ${#fields.detailedErrors()}">
									<span th:text="${detailedError.message}"></span>
								</div>

							</div>
						</div>
						<input type="hidden" th:field="*{idAddAlunoCD}" id="idAddAlunoCD" />

						<div class="col-md-7 col-sm-6 col-xs-12 form-group has-feedback"
							th:classappend="${#fields.hasErrors('alunos')} ? has-error">
							<label for="alunos" class="required">Aluno</label> <select
								id="alunos" name="alunos" class="form-control has-feedback-left">
								<option value="">Selecione</option>
								<option th:each="aluno: ${alunos}" th:value="${aluno.idMembro}"
									th:text="${aluno.nome}">Opção 1</option>


							</select> <span class="fa fa-graduation-cap form-control-feedback left"
								aria-hidden="true"></span>
						</div>

						<div class="col-md-5 col-sm-6 col-xs-12 form-group has-feedback"
							th:classappend="${#fields.hasErrors('alunos')} ? has-error">
							<label for="dtMatricula" class="required">Data Matricula</label>
							<input type="date" class="form-control has-feedback-left"
								name="dtMatricula" id="dtMatricula" placeholder="Data Matricula" />
							<span class="fa fa-calendar form-control-feedback left"
								aria-hidden="true"></span>
						</div>

						<div class="form-group">

							<div id="botao">
								<button type="submit" class="btn btn-success">Adicionar</button>
							</div>
						</div>
					</form>
			</div>
				</div>
		
				<div class="x_panel">
					<h5>Alunos Matriculados</h5>

					<div class="x_content">
						<div class="card-box table-responsive">
							<table id="datatable-responsive"
								class="table table-striped table-bordered dt-responsive nowrap"
								cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>Matricula</th>
										<th>Aluno</th>
										<th>Data Matricula</th>
										<th>Frequência</th>
										<th>Status</th>
										<th>EX</th>
									</tr>
								</thead>

								<tbody>
									<tr th:each="liderEsc: ${capacitacaoDestino}">
									<tr th:each="lider: ${addAlunosCD}">
										<td th:text="${lider.alunos.idMembro}"></td>
										<td th:text="${lider.alunos.nome}">1</td>
										<td th:text="${lider.dtMatricula}">1</td>
										<td th:text="${lider.alunos.tipo}">1</td>
										<td th:text="${lider.alunos.tipo}">1</td>
										<!--  td><a th:text="${lider.conclusao}" class="btn btn-info btn-xs"
													th:href="@{/addAlunoCD/{idAddAlunoCD}(idAddAlunoCD=${lider.idAddAlunoCD})}"> 
												</a></td-->
										<td>
											<form method="POST"
												th:onsubmit="'return confirm(\'Remover Aluno ' + 
													${lider.alunos.nome} +' ?\');'"
												th:action="@{/capacitacaoDestino/add/{idAddAlunoCD}(idAddAlunoCD=${lider.idAddAlunoCD})}">
												<input type="hidden" name="_method" value="DELETE" />

												<button type="submit" class="btn btn-danger btn-xs">
													<span class="fa fa-trash"></span>
												</button>
											</form>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
</div>
	</section>
</body>

</html>
