<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/MainlyLayout'">

<body>
	<section layout:fragment="content">
		<div class="container-fluid">
			<br />
			<form class="form-horizontal" th:action="@{/membros/buscaCpf}" method="POST"
				th:object="${membros}">

				<div style="margin-top: 50px;">

					<div id="foo" th:fragment="mensagemGeral" class="alert alert-success"
						th:if="${!#strings.isEmpty(message)}">
						<span th:text="${message}"></span>
					</div>

					<div id="foo" th:fragment="mensagemErro" class="alert alert-danger"
						th:if="${!#strings.isEmpty(messageErro)}">
						<span th:text="${messageErro}"></span>
					</div>

					<div id="foo" class="alert alert-danger alert-box" th:if="${#fields.hasAnyErrors()}">
						<div th:each="detailedError : ${#fields.detailedErrors()}">
							<span th:text="${detailedError.message}"></span>
						</div>
					</div>
					<div class="x_panel">
						<div>
							<h2 style="float: left;">Verifica Cadastro</h2>
							<a style="float: right;" class="btn btn-dark aw-link-panel"
								th:href="@{/membros}"><i class="fa  fa-fw  fa-table"></i>&nbsp;
								&nbsp;Listar Membros </a>
							<div class="clearfix"></div>
						</div>
						<div class="x_panel">
							
							<form class="form-horizontal form-label-left input_mask">
								<div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback"
									th:classappend="${#fields.hasErrors('cpf')} ? has-error">
									<label for="cpf" class="required">CPF</label> <input
										type="text" class="form-control has-feedback-left cpf"
										th:field="*{cpf}" id="cpf" placeholder="CPF" /> <span
										class="fa fa-address-book-o form-control-feedback left"
										aria-hidden="true"></span>
								</div>
								<div class="col-md-6 col-sm-12 col-xs-12 form-group has-feedback"
									th:classappend="${#fields.hasErrors('cpf')} ? has-error">
									<label for="descricao"></label> 
								</div>
								
								<div class="form-group">
								<div id="botao">
									<a class="btn btn-info" th:href="@{/membros}">Cancelar</a>
									<button class="btn btn-primary" type="reset">Limpar</button>
									<button type="submit" class="btn btn-success  "
										th:text="Enviar"></button>
								</div>
							</div>

							</form>
						</div>
					</div>
				</div>

			</form>

		</div>

	</section>
</body>

</html>
