<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/MainlyLayout'">
<body>

	<section layout:fragment="content">
		<div class="container-fluid">
			<div style="margin-top: 60px;">
			
				<div class="x_panel">
					<div class="x_title">
						<h2 style="float: left;">Lista de Membros Eu mexi Aqui</h2>
						<a style="float: right;" class="btn btn-dark aw-link-panel"
							th:href="@{/membros/buscaCpf}"><i class="fa fa-plus-square"></i>&nbsp;
							&nbsp;Cadastrar Membro </a>
						<div class="clearfix"></div>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div id="foo" class="alert  alert-success"
								th:if="${!#strings.isEmpty(message)}">
								<i class="fa fa-check-circle"></i> <span th:text="${message}">Mensagem
									sucesso!</span>
							</div>
							
							<div id="foo" class="alert  alert-danger"
								th:if="${!#strings.isEmpty(messageErro)}">
								<i class="fa fa-check-circle"></i> <span th:text="${messageErro}">Mensagem
									Erro!</span>
							</div>

							<div class="x_content">
								<div class="card-box table-responsive">
									 <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
										<thead>
											<tr>
												<th>Nome</th>
												<th>CPF</th>
												<th>Idade</th>
												<th>Celular</th>
												<th>Templo</th>
												<th>Ministério</th>
												<th>Edt</th>
												<th>Exc</th>
											</tr>
										</thead>

										<tbody>
											<tr th:each="membro: ${membros}">
												<td th:text="${membro.nome}">1</td>
												<td th:text="${membro.cpf}">1</td>
												<td th:text="${membro.idade}">1</td>
												<td th:text="${membro.celular}">1</td>
												<td th:text="${membro.templo.nomeFantasia}">1</td>
												<td th:text="${membro.ministerio.tipoMinisterio}">1</td>
												<td><a class="btn btn-info btn-xs"
													th:href="@{/membros/{idMembro}(idMembro=${membro.idMembro})}"> <span
														class="fa fa-pencil" />
												</a></td>
												<td>
													<form method="POST"
														th:onsubmit="'return confirm(\'Remover ' + 
													${membro.nome} +' do Templo ' + ${membro.templo.nomeFantasia}+' ?\');'"
														th:action="@{/membros/{idMembro}(idMembro=${membro.idMembro})}">
														<input type="hidden" name="_method" value="DELETE" />

														<button type="submit" class="btn btn-danger btn-xs">
															<span class="fa fa-trash"/>
														</button>
													</form>
												</td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</section>
	<th:block layout:fragment="javascript-extra">

	</th:block>

</body>

</html>
